<div class="chat-container">
  <section class="view-active-users"></section>
  <div class="message-container">
    <section class= "view-messages"></section>
    <section class= "create-message">
      <h3>Say something awesome...</h3>
      <textarea class="type-message" name="Name" rows="8" cols="40"></textarea>
      <input class ="send-message" type="submit" value="send message">
    </section>

  </div>


</div>
