<div class="form-container">
  <form class="login-form">
      <input class ="login-facebook" type="submit" value="log in with facebook">
      <hr>
      <input class="login-form-username" type="text" placeholder="username">
      <input class="login-form-password" type="text" placeholder="password">
      <input class ="submit-form" type="submit" value="log In">
  </form>
  <div class="login-other">
    <p><a href="#">Forgot password?</a></p>
    <p>Don't have an account? <a href="#">Sign up!</a></p>
    <hr>
    <p>If you click "Log in with Facebook" and are not a really cool person, you will be registered and you agree to my Terms & Conditions and Privacy Policy.</p>
  </div>
</div>
