$box-sizing: true;
$gutter: 0em;

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

  .page-header {
    height: 75px;
    background-color: #A5C663;
  }

  .application {
    margin: 50px auto;
    width: 435px;
    height: auto;
    border: 1px solid #A5C663;
    border-radius: 5px;
  }

    .login-facebook,
    .login-form-username,
    .login-form-password,
    .submit-form {
      width: 90%;
      height: 50px;
      margin: 10px 20px 10px 20px;
    }

    .login-facebook {
      color: #fff;
      background-color: #3B5998;
      border: 1px solid #fff;
      border-radius: 20px;
      text-transform: uppercase;
    }

    .login-form-username {
      margin-top: 3em;
    }

    .submit-form {
      color: #fff;
      background-color: #A5C663;
      border: 1px solid #fff;
      border-radius: 20px;
      text-transform: uppercase;
    }
